Net SW<0> LOC=T10  |  IOSTANDARD=LVCMOS33;
Net SW<1> LOC=T9   |  IOSTANDARD=LVCMOS33;
Net SW<2> LOC=V9   |  IOSTANDARD=LVCMOS33;
Net SW<3> LOC=M8   |  IOSTANDARD=LVCMOS33;

Net SSEG_CA<0> LOC=T17  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<1> LOC=T18  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<2> LOC=U17  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<3> LOC=U18  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<4> LOC=M14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<6> LOC=L14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<7> LOC=M13  |  IOSTANDARD=LVCMOS33;

Net SSEG_AN<0> LOC=P17  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<1> LOC=P18  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<2> LOC=N15  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<3> LOC=N16  |  IOSTANDARD=LVCMOS33;

Net CLK LOC=V10  |  IOSTANDARD=LVCMOS33;